/**
 * Initials Default Avatar Admin styles
 *
 * @package Initials Default Avatar
 * @subpackage Administration
 */

#initials-default-avatar-wrapper p {
	margin-bottom: 1em;
}

#initials-default-avatar-wrapper .avatar-preview {
	float: left;
	margin-right: 10px;
}

#initials-default-avatar-wrapper .service-options {
	float: left;
}
